.right-side{
  min-height: 700px;
  max-width: 100%;
}
.row {
  min-height: inherit;
}
.main{
  margin-top: 5%;
}

.back {
  background: url("../assets/back.png")no-repeat center center;
  background-size: cover;
}
.main {
  margin-top: 0%;
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}