.description{
    width:30%;
}
.file{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}
.file-path{
    width: 70%;
    margin-left: 2%;
}
